# Datasets and models except sample
/data/*
!/data/dataset
/data/dataset/*
!/data/dataset/sample_data
!/data/embedding
/data/embedding/*
!/data/embedding/download_glove.py

#Mac generated folder styles
.DS_Store

